{% extends "default.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card col s12 m6">
                <div class="card-content">
                    <span class="card-title">Reset your password</span>

                    <div class="col 12">
                        <p>A password reset email will only be sent if your email address is already associated with a user account.</p>
                    </div>
                    <form method="post" action="">{% csrf_token %}
                            {{ form.as_p }}
                            <button class="waves-effect waves-light btn-large" type="submit">Reset</button>
                    </form>
                </div>
            </div>


        </div>
    </div>
{% endblock %}