{% extends "default.html" %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% if object.user == request.user %}
            {% if  request.user.userprofile.moderator_approved %}
                {{ form.media }}
                <div class="container">
                    <div class="row right-align" >
                        <div class="col s12">
                            You can also correct basic details
                        </div>
                        <div class="col s12">
                            <a href="/edit/{{ user.userprofile.associated_PhD.pk }}/">
                                <button class="btn amber lighten-5 black-text">Edit basic info</button>
                            </a>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">Current Employment and Research Details</span>
                                    <form action="" method="post" novalidate >{% csrf_token %}
                                        {{ form.non_field_errors }}
                                        <div class="col s12 m6">
                                            {{ form.current_position.errors }}
                                            {{ form.current_position.label_tag }}
                                            {{ form.current_position }}
                                        </div>
                                        <div class="col s12 m6">
                                            {{ form.current_affiliation.errors }}
                                            {{ form.current_affiliation.label_tag }}
                                            {{ form.current_affiliation }}
                                        </div>
                                        <div class="col s12">
                                            {{ form.research_website.errors }}
                                            {{ form.research_website.label_tag }}
                                            {{ form.research_website }}
                                        </div>
                                        <div class="col s12 input-field">
                                            {{ form.research_blurb.errors }}
                                            {{ form.research_blurb.label_tag }}
                                            {{ form.research_blurb }}
                                        </div>
                                        <button type="submit" class="waves-effect waves-light btn-large center-align btn-100-percent"><i class="material-icons left">input</i>Update this page</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h3>Sorry {{ request.user }}...</h3>
                        <p>Your account has not yet been approved by a moderator, so you cannot edit your page yet.</p>
                    </div>
                </div>
            </div>
            {% endif %}
        {% else %}
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h3>You are not authorized to edit this page.</h3>
                </div>
            </div>
        </div>
        {% endif %}
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h3>You are not logged in.  Nothing to see here.</h3>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascript_doc_ready %}
<script>
$(document).ready(function() {
    $("#id_research_blurb").addClass("materialize-textarea");
    //$('select').material_select();
  });

</script>

{% endblock %}