<footer class="page-footer blue darken-1 valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s4">
          <p class="white-text">&copy;<a class="white-text" href="http://wabarr.com"> W. Andrew Barr</a></p>
        </div>
        <div class="col s4 center-align "><p><a class="white-text" href="/cookie-policy/">Cookie Policy</a></p></div>
        <div class="col s4 right-align">
            <p><a class="white-text " href="/admin/">Admin Login</a></p>
        </div>
      </div>
    </div>
  </footer>